#profile-container {
    background-color: var(--post-bg);
    border-radius: 1rem;
    position: absolute;
    top: 15%;
    left: 50%;
    padding: 50px;
    min-height: 500px;
    width: 500px;
    transform: translateX(-50%);
}

#profile-username {
    font-size: 1.75rem;
}

#profile-container:after {
    position: absolute;
    content: "";
    bottom: -50px;
    height: 40px;
    width: 1px;
}

#profile-container h2 {
    color: white;
    font-weight: 500;
    margin-top: 50px;
}

#profile-header {
    align-items: center;
    color: white;
    display: flex;
    gap: 50px;
    padding: 0 30px;
}

#profile-header img {
    align-self: center;
    border: 3px solid var(--accent);
    border-radius: 50%;
}

#profile-header::after {
    background: var(--grey);
    position: absolute;
    content: '';
    height: 2px;
    top: 150px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 85%;
}

#favorite-teams-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    height: fit-content;
}

#click-msg {
    color: var(--accent);
    font-size: 0.8rem;
    margin-left: 20px;
}